
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>Current users:</header>
    <section>
        <ul>
            current users : -
            <% users.map(user =>{ %>
            <li><%= user.username %></li>    
            <% }); %>
        </ul>
    </section>
    <h3><a href="/new">create new user!</a></h3>
    <form method="get" action="/search">
        <label for="username">Look for user: </label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Search!</button>
    </form>
    <ul>
        <h3>users Found: -</h3>
        <% if(searchResult && searchResult.length > 0){ %>
            <% searchResult.forEach(user=> { %>
                <li><%= user.username %></li>
            <% }) %>
        <% }else{ %>
            <li>no uses matching found</li>
        <% } %>
    </ul>
</body>
</html>