<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
</head>
<body>
    <h1> Add User:</h1>
    <form method="post" action="/new">
        <label for="user">Username: </label>
        <input name="user" type="text" placeholder="exampleUSername" required>
        <button type="submit">add Username</button>
    </form>
    
</body>
</html>